.databricks/
build/
dist/
__pycache__/
.mypy_cache/
.ruff_cache/
*.egg-info
.venv/
scratch/**
!scratch/README.md
coverage.xml
.env
.instructions/**
.vscode/**
.python-version
.ruff_cache/*
.mypy_cache/*

temp/

**/.DS_Store

.secrets.env
.secrets.*.env
scripts/.secrets.env
scripts/.secrets.*.env